<!-- Header Section -->
<%- include('./components/header.ejs'); %>
  
  <!-- Main Navigation Section -->
    <%- include('./components/main_nav.ejs'); %>

<!-- Page Content -->
<main>
<%- include('./content/' + page + '.ejs'); %>
</main>

  <!-- Bottom Navigation Section -->
    <%- include('./components/bottom_nav.ejs'); %>
  
    <!-- JavaScript Section -->
<%- include('./components/footer.ejs'); %>
